@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(0, 0, 0);
  --background-start-rgb: rgb(255, 255, 255);
  --background-end-rgb: rgb(255, 255, 255);
  --color-1: #023e73;
  --color-2: #c9eaff;
  --color-3: #0367a6;
  --color-4: #77b3d9;
  --color-5: #03a590;
  --color-6: #00bfa6;
}

/* @media (color-scheme: dark) { */
.dark:root {
  --foreground-rgb: rgb(255, 255, 255);
  --background-start-rgb: rgb(15, 23, 42);
  --background-end-rgb: rgb(15, 23, 42);
  --color-2: #011b32;
  --color-4: #023e73;
  --color-5: #00bfa6;
  --color-6: #037d6c;
  --color-7: #00bfa6;
}
/* } */

body {
  color: var(--foreground-rgb);
  background: linear-gradient(to bottom, transparent, var(--background-end-rgb))
    var(--background-start-rgb);
}

@layer base {
  html,
  body,
  div,
  span,
  h1,
  h2,
  h3,
  h4,
  p,
  img,
  ul,
  li,
  figure,
  main,
  footer,
  header,
  nav,
  section,
  button {
    @apply m-0 p-0 border-0 align-baseline box-border font-secondary;
  }

  html {
    @apply scroll-smooth;
  }

  #__next {
    @apply w-screen min-h-screen relative bg-slate-200 dark:bg-brand-200 h-auto;
  }

  body {
    @apply leading-none w-screen min-h-screen h-auto relative;
  }

  ol,
  ul {
    @apply list-none;
  }

  button a {
    @apply cursor-pointer rounded-lg;
  }

  :target {
    @apply scroll-mt-24;
  }
}

@layer components {
  .col-center {
    @apply flex flex-col items-center;
  }
  .row-center {
    @apply flex items-center justify-between;
  }

  .header-link-span {
    @apply absolute -bottom-1 left-0 w-0 h-[3px] bg-brand-500 transition-all group-hover:w-full group-focus:w-full;
  }

  .section {
    @apply w-11/12 max-w-7xl min-h-screen py-5 h-auto col-center mb-10;
  }

  .section-title {
    @apply w-full font-bold text-lg text-brand-500 mb-4;
  }

  .introduction-contact {
    @apply relative row-center justify-center text-base cursor-pointer;
  }

  .introduction-contact-text {
    @apply absolute bottom-0 hidden bg-white text-brand-200 px-3 h-6 rounded-md group-hover:-top-8 group-hover:flex;
  }

  .about-me-p {
    @apply col-center gap-5 px-3 rounded-lg border-brand-100 border-2  w-full text-xl py-5 h-auto;
  }

  .navigation-div-nav {
    @apply hidden md:row-center text-brand-500 font-semibold w-7/12 py-1;
  }

  .navigation-div-nav-mobile {
    @apply font-semibold w-full bg-brand-100 py-1 text-brand-500 absolute top-14 col-center gap-3 pb-4 text-lg;
  }

  .contacts-nav-link {
    @apply w-10/12 flex items-center gap-2 text-lg;
  }

  .contacts-nav-link-icon {
    @apply text-xl sm:text-3xl;
  }

  .card-div {
    @apply relative preserve-3d group-hover:my-rotate-y-180 w-full h-full duration-1000 border-2 border-brand-500 row-center justify-center py-2 rounded-lg;
  }

  .card-div-front {
    @apply w-11/12 h-full font-bold col-center items-start gap-3 absolute backface-hidden mt-2;
  }

  .card-div-back {
    @apply absolute my-rotate-y-180 backface-hidden w-full h-full overflow-hidden row-center justify-center dark:bg-brand-200 bg-brand-500;
  }

  .card-div-link {
    @apply w-full h-8 row-center justify-center rounded-lg bg-brand-100 text-white font-medium text-lg hover:scale-110 hover:transition-all duration-500 ease-in-out delay-150;
  }
}
